/* code built on from https://www.cssscript.com/demo/pure-css-text-typing-animation/ */
.type-container {
    position: relative;
    font-size: 1.5em;
    padding-top: .75em;
}

.type {
    display: inline-block;
    position: relative;
    line-height: 1;
}

.type::after {   
    content: "";
    position: absolute;
    top:-1px;right:0;bottom:-2px;left:0;
    border-left: 2px solid #fff;
    background-color: var(--red);
    /* animation:  */
}

.type:first-of-type {
    left: 140px;
    animation: formerdisappear 10s infinite forwards;
}
.type:first-of-type::after {
    animation: formerword 10s steps(6) infinite forwards, type 1s infinite forwards;;
}
.type:last-of-type  {
    left: -130px;
    animation: latterdisappear 10s infinite forwards;
}
.type:last-of-type::after {
    animation: latterword 10s steps(6) infinite forwards, type 1s infinite forwards;;
}

@keyframes type {
    0% {
        border-left: 2px solid #fff;
    }
    1% {
        border-left: 2px solid transparent;
    }
    50% {
        border-left: 2px solid transparent;
    }
    51% {
        border-left: 2px solid #fff;
    }
    100% {
        border-left: 2px solid #fff;
    }
}

@keyframes formerdisappear {
    0% {
        opacity: 1
    }
    49% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes latterdisappear {
    0% {
        opacity: 0
    }
    49% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@keyframes formerword {
    0% {
        left: 0;
        margin-right: auto;
    }
    10% {
        left: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    40% {
        left: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    50% {
        left: 0;
        margin-right: auto;
    }
    100% {
        left: 0;
        margin-right: auto;
    }
  }

@keyframes latterword {
    0% {
        left: 0;
        margin-right: auto;
    }
    50% {
        left: 0;
        margin-right: auto;
    }
    60% {
        left: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    90% {
        left: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    100% {
        left: 0;
        margin-right: auto;
    }
}