#immigration {
    position: absolute;
    top: 0;
    left: 1vw;
    max-width: 97vw;
    max-height: 100vh;
    z-index: 0;
}

#immigration ~ section.text {
    z-index: 3;
}

#ethnic {
    width: 100%;
    align-items: center;
}

#words * {
    font-weight: 700;
    text-transform: uppercase;
}

#ethnic h3 {
    padding-top: 100px;
}

div.plot-container {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto;;
}

div.plots * {
    font-family: 'PT Sans'
}

g.layer.frame {
    display: none;
}

#countries-mentioned-map g.layer.coastlines path{
    opacity: 0.5;
}

.centered p ~ h3 {
    display: flex;
    position: relative;
    top: 72px;
    z-index: 2;
}

.centered h3 div.dropdown {
    position: relative;
    top: -6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
    background-color: transparent;
}

.centered h3 div.dropdown a {
    padding: 6px 36px 6px 12px;
    border-bottom: 2px solid transparent;
    font-weight: 500;
}

.centered h3 div.dropdown a:hover {
    cursor: pointer;
}

.centered h3 div.dropdown ~ svg {
    position: absolute;
    right: 14px;
    top: 8px;
    transition: all 0.2s ease-out;
}

.centered h3 div.dropdown > a:first-child {
    border-color: var(--black);
}

.centered h3 div.dropdown.active > a:first-child {
    border-color: transparent;
}

.centered h3 div.dropdown:hover ~ svg {
    top: 10px;
}

.centered h3 div.dropdown.active:hover > a:first-child {
    border-color: transparent
}

.centered h3 div.dropdown.active a:last-child {
    visibility: visible;
}

.centered h3 div.dropdown.active a:hover {
    background-color: var(--grey);
}

.centered h3 div.dropdown a:last-child {
    visibility: hidden;
}

#total-obama-line {
    text-transform: uppercase;
}

mark.indented {
    max-width: 332px;
    line-height: 21px;
    text-align: left;
    font-style: italic;
    background-color: transparent;
    margin-top: 12px;
    margin-left: 24px;
    padding-left: 12px;
    border-left: 2px solid var(--grey);
}

p.instruction {
    margin-top: 100px;
    font-weight: 600;
    font-family: 'PT Sans';
    color: var(--dark-grey) !important;
}

label.title ~ p.instruction {
    margin-top: 48px;
}

div#countries-mentioned {
    position: relative;
    left: -10%;
    position: relative;
}

div#random-tweet-box {
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: calc(-30% - 36px);
    width: 25%;
    max-width: 25%;
    top: 72px;
    padding: 18px;
    background-color: var(--white);
    filter: drop-shadow(0 0 2px var(--dark-grey));

    transition: all 0.4s ease-out;
}

/*  tooltip arrow https://www.w3schools.com/css/css_tooltip.asp */
div#random-tweet-box::after {
    content: " ";
    position: absolute;
    top: 24px;
    right: 100%;
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent var(--white) transparent transparent;
  }

div#random-tweet-box p {
    font-style: italic;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

div#random-tweet-box h3 {
    top: 0;
    font-size: 16px;
}

div#random-tweet-box p::first-letter {
    font-size: 14px;
}

label.title {
    font-family: 'PT Sans';
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    margin-top: 72px;
}

b {
    text-transform: uppercase;
}

#america-mentioned-bar * {
    color: #909090 !important;
}


.wrapper {
    font-size: 72px;
}

.typeCursor {
    font-family: 'PT Serif';
    font-size: 72px;
    margin-bottom: 2px;
    font-weight: 200;
}

#words ~ p {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: initial;
    width: 500px;
    text-align: center
}

/* blinking cursor animation */

.blinking {
    font-size: 18px;
    animation: type 1s infinite forwards
}

@keyframes type {
    0% {
        opacity: 1
    }
    1% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    51% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}