@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
:root {
    --white: #fefefe;
    --dark-white: #fafafa;
    --grey: #eeeeee;
    --dark-grey: #909090;
    --black: #303030;
    --blue: #224193;
    --red: #AE3131;
    --middle: #683962;
}

* {
    color: #303030;
}

/* text */

strong {
    font-weight: 600;
}

mark {
    font-weight: 500;
    background-color: var(--middle);
}

h1, h2, h3, h4 {
    font-family: 'PT Sans';
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    margin: 12px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    margin-top: 48px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

p {
    font-family: 'PT Serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    max-width: 332px;
    text-align: left;
}

section.contain[id] section.text>article:first-of-type:not(#ethnic)>p:first-of-type::first-letter {
    font-size: 48px;
}

p:not(:first-child) {
    margin-top: 16px;
}

/* NAV */

nav#jump-links {
    position: fixed;
    top: 20vh;
    left: 5vh;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: flex-start;
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

nav#jump-links a {
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans';
    margin-left: 6px;
    opacity: 0.2;
}

nav#jump-links a:hover, nav#jump-links a.active {
    opacity: 1;
}

nav#jump-links a::before {
    position: absolute;
    content: '';
    left: -4px;
    width: 4px;
    height: 16px;
    background-color: var(--white);
    transition: all 0.2s ease-out;
}

nav#jump-links a.active::before {
    width: 12px;
    left: -12px;
}

/* dark nav */

nav#jump-links.dark a {
    color: var(--black)
}

nav#jump-links.dark a::before {
    background-color: var(--black)
}

/* hidden nav */

nav#jump-links.hide {
    opacity: 0;
}

/* STRUCTURE */

/* Main sections that break up parts of the page */

section.contain {
    padding: 100px 20%;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
}

section.contain.isolated section.text {
    width: 700px;
    display: flex;
    justify-content: center;
}

/* section colour variations */

section.contain.dark {
    background-color: var(--black);
}

section.contain.dark * {
    color: var(--white);
}

section.contain.light {
    background-color: var(--dark-white);
}

section.contain.light * {
    color: var(--black);
}

section.contain.left {
    padding: 100px 5% 100px 15%;
    gap: 48px;
}

section.contain#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

section.contain#intro section.text {
    margin: 200px 0 100px 0;
    color: var(--red);
}

section.contain#intro img {
    position: sticky;
    top: 20vh;
    height: 80vh;
    max-width: 25%;
    object-fit: cover;
    opacity: 0.8;
}

section.contain#intro img:first-child {
    filter: grayscale(1) drop-shadow(0 0 24px var(--blue));
}

section.contain#intro img:last-child {
    filter: grayscale(1) drop-shadow(0 0 24px var(--red));
}

section.contain * {
    color: var(--dark-white);
}

section.contain:first-child div.background {
    background-color: var(--red);
}

div.background {
    width: 100%;
    height: 100%;
}

/* TEXT HALF */

section.contain section.text {
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    grid-area: Text;
    padding: 0 36px;
}

section.contain section.text article.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.contain section.graphic~section.text {
    align-items: flex-start;
}

/* GRAPHIC HALF */

section.contain section.graphic {
    grid-area: Graphic;
    position: sticky;
    top: 10%;
    height: 80%;
}

/* TEXT */

article.padded-text {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SPLIT VISUAL FOR LEADERSHIP DISCUSSION */

article.split-visual {
    display: flex;
    justify-content: space-between;
    gap: 72px;
}

article.split-visual div {
    max-width: 332px;
}

article.split-visual div:hover>img {
    transform: translateY(-5px);
    opacity: 1;
}

article.split-visual img {
    width: 80%;
    margin-bottom: 48px;
    transform: translate();
    opacity: 0.8;
    filter: drop-shadow(0 4px 4px #909090);
    transition: all 0.3s ease-out
}

/* SECTION COLOUR THEMES */

.democrat {
    background-color: var(--blue)
}

.republican {
    background-color: var(--red)
}

/* MARK COLOUR THEMES */

section.contain mark.democrat {
    text-decoration: underline solid var(--blue);
    text-decoration-thickness: 2px;
    background-color: transparent;
}

section.contain mark.republican {
    text-decoration: underline solid var(--red);
    text-decoration-thickness: 2px;
    background-color: transparent;
}

/* MAP STYLE */

.layer.bg rect {
    fill: transparent !important;
}

/* HOVER TOOLTIP */

i {
    text-decoration: underline dotted;
}

i>label.definition>strong {
    font-weight: 700;
    font-family: 'PT Serif'
}

section.contain.dark i {
    color: var(--white);
}

section.contain.dark i>label.definition, section.contain.dark i>label.definition>strong {
    background-color: var(--white);
    color: var(--black);
}

section.contain.light i {
    color: var(--black);
}

section.contain.light i>label.definition, section.contain.light i>label.definition>strong {
    background-color: var(--black);
    color: var(--white);
}

i>label.definition {
    z-index: 5;
    font-size: 12px;
    position: absolute;
    margin-left: 12px;
    margin-top: 6px;
    visibility: hidden;
    border-radius: 4px;
    width: 20%;
    padding: 18px;
    transition: all 0.1s ease-out;
    opacity: 0;
}

i:hover>label.definition {
    visibility: visible;
    opacity: 1;
}