@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

:root {
    --white: #fefefe;
    --dark-white: #fafafa;
    --grey: #eeeeee;
    --dark-grey: #909090;
    --black: #303030;
    --blue: #224193;
    --red: #AE3131;
}

/* 
dropshadows?
borderstrokes: 2px solid
dot patterns okay
*/
/* 
use opacity to bring text into focus
*/

* {
    color: #303030;
}

/* STRUCTURE */
/* Main sections that break up parts of the page */
section.contain {
    position: relative;
}

div.background {
    position: absolute;
    width: 100%;
    height: 100%;
}